.main-heading {
  margin-bottom: calc(var(--margin-primary) / 1.3);
}
.main-heading h2 {
  font-size: 34px;
  font-weight: var(--font-weight-bold);
}
.main-heading h2 span:first-child {
  text-decoration: underline;
}
.main-heading h2 span:last-of-type{
    color: var(--color-primary);
}